<launch>
<!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find arm_gazebo)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Generate/Load robot description file -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find arm_description)/urdf/arm_one.xacro'" />


    <!-- Spawn urdf into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-x 0.0 -z 0.0 -param robot_description -urdf -model arm" />

  <!-- Load joints controllers configurations -->
  <rosparam file="$(find arm_control)/config/arm_one.yaml" command="load"/>

  <!-- Load the controllers -->
  <!-- <rosparam file="$(find arm_control)/config/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" />
<rosparam file="$(find arm_control)/config/le_arm_controller.yaml" command="load"/> 
    
<node name="le_arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller  " /> -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
        joint_state_controller
        arm_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

</launch>